services:
  app:
    build:
      context: ..
      dockerfile: src/Dockerfile
    container_name: reconhecimento_facial_app
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - db
    command: ["java", "-jar", "app.jar"]

  db:
    image: postgres:15
    container_name: reconhecimento_facial_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  sonarqube:
    image: sonarqube:lts-community
    container_name: sonarqube
    depends_on:
      - sonar_db
    networks:
      - sonar_net
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://sonar_db:5432/sonar
      SONAR_JDBC_USERNAME: sonar
      SONAR_JDBC_PASSWORD: sonar
    ports:
      - "9000:9000"
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_extensions:/opt/sonarqube/extensions
      - sonar_logs:/opt/sonarqube/logs

  sonar_db:
    image: postgres:15
    container_name: sonar_db
    restart: always
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonar
      POSTGRES_DB: sonar
    networks:
      - sonar_net
    volumes:
      - sonar_db_data:/var/lib/postgresql/data

networks:
  sonar_net:
    driver: bridge

volumes:
  db_data:
  sonar_data:
  sonar_extensions:
  sonar_logs:
  sonar_db_data: